# =============================================================================
# Microservicio Tshirt3D - Variables de Entorno
# Copia este archivo como .env y completa con tus valores
# =============================================================================

VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_CLOUDINARY_URL=https://api.cloudinary.com/v1_1/<cloud_name>/image/upload
